html, body {
    height: 100%;
}

#content {
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    'projects tasks';
}

#projects {
    grid-area: projects;

    background-color: aqua;
}

#projects-header {
    width: 100%;
    text-align: center;
}

.projectDiv {
    font-size: 24px;

    width: 100%;
    text-align: center;

    cursor: pointer;
}

#tasks {
    grid-area: tasks;

    background-color: orange;
}

#tasks-header {
    width: 100%;    
    text-align: center;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
}

.inputProjDiv {

}

.inputTaskDiv {

}

.taskDiv {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row: 1fr 1fr;
    grid-template-areas: 
    ". . . . ."
    "desc desc desc desc desc";

    cursor: pointer;
}

.deleteBtn {
    height: 40px;
    width: 30px;

    background-image: url('../images/trash.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;

    background-color: transparent;

    cursor: pointer;
    border: 0px;

    align-self: center;
    justify-self: center;
}

svg:hover {
    fill: red;
  }
  

.description {
    grid-area: desc;
}

.completed {
    background-image: linear-gradient(135deg, gray 25%, transparent 25%, transparent 50%, gray 50%, gray 75%, transparent 75%, transparent 100%);
    background-size: 45px 45px;
}

.span {
    align-self: center;
    justify-self: center;
}