html, body {
    height: 100%;
}

#content {
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    'projects tasks';
}

#projects {
    grid-area: projects;

    background-color: gray;

    border-right: 4px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects-header {
    width: 100%;
    text-align: center;
}

.projectDiv {
    font-size: 24px;

    width: 100%;
    text-align: center;

    cursor: pointer;

    color: aqua;
    font-size: 32px;
}

.projectDiv:hover {
    color: purple;
    background-color: silver;
}

.projectDivClicked {
    color: purple;
    background-color: silver;
}

#tasks {
    grid-area: tasks;

    background-color: lightgray;

    display: flex;
    flex-direction: column;
}

#tasks-header {
    width: 100%;    
    text-align: center;
}

.header-wrapper {
    display: flex;
    flex-direction: row;

    padding: 20px;
    background-color: rgb(82, 82, 82);
    color: cyan;
}

#proj-header-wrapper {
    width: 100%;
}

.inputProjDiv {
    width: auto;

    padding: 15px;
    margin: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: solid 2px black;
    border-radius: 10px;

    background: silver;
}

.inputTaskDiv {
    display: flex;
    flex-direction: column;
    align-items: center;

    align-self: center;

    width: auto;

    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;

    background-color: gray;
}

.inputElem {
    margin: 8px;

    text-align: center;

    font-size: 18px;
}

.description {
    width: auto;

    text-align: justify;

    padding: 15px;
}

.taskDiv {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row: 1fr 1fr;
    grid-template-areas: 
    ". . . . ."
    "desc desc desc desc desc";

    cursor: pointer;
}

.very-urgent {
    background-color: rgba(255, 0, 0, 0.767);
}

.urgent {
    background-color: rgba(255, 0, 0, 0.418);
}

.non-urgent {
    background-color: rgba(255, 0, 0, 0.253);
}

h2 {
    align-self: center;
    font-size: 36px;
}

button {
    cursor: pointer;
}

.add-btn {
    border-radius: 25px ;
    height: 50px;
    width: 50px;
    padding: 0px;

    font-size: 40px;
    line-height: 40px;

    border: 2px black solid;
}

.add-btn:hover {
    background-color: cyan;
}

.deleteBtn {
    height: 40px;
    width: 30px;

    background-image: url('../images/trash.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;

    background-color: transparent;

    cursor: pointer;
    border: 0px;

    align-self: center;
    justify-self: center;
}

svg:hover {
    fill: red;
  }
  

.description {
    grid-area: desc;
}

.completed {
    background-color: rgba(0, 255, 0, 0.377);
}

.span {
    align-self: center;
    justify-self: center;
}